.content {
    width: 200px;
    height: 180px;
    margin:0 auto;
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.content::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../../public/bg-triangle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_paper {
    position: absolute;
    background-color: var(--bg-score);
    width: 120px;
    height: 120px;
    margin: 0px 160px 160px 0px;
    border-radius: 50%;
    border: .8rem solid hsl(230, 89%, 62%);
}

.btn_paper::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    bottom: 0;
    left: -14px;
    right: 0;
    border-radius: 50%;
    border: 0.8rem solid #5671f560;
}

.btn_scissors {
    position: absolute;
    background-color: var(--bg-score);
    width: 120px;
    height: 120px;
    margin: 0px 0px 160px 160px;
    border-radius: 50%;
    border: .8rem solid hsl(40, 84%, 53%);
    
}

.btn_scissors::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    bottom: 0;
    left: -14px;
    right: 0;
    border-radius: 50%;
    border: 0.8rem #ec9e0e60;
    border-style: solid;
}

.btn_rock {
    position: absolute;
    background-color: var(--bg-score);
    width: 120px;
    height: 120px;
    margin: 0px 0px -125px 0px;
    border-radius: 50%;
    border: .8rem solid rgb(220, 46, 78);
}

.btn_rock::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    bottom: 0;
    left: -14px;
    right: 0;
    border-radius: 50%;
    border: 0.8rem #dd405d60;
    border-style: solid ;
}

.img_paper {
    width: 40px;
    height: 40px;
}

.img_scissors {
    width: 40px;
    height: 40px;
}

.img_rock {
    width: 40px;
    height: 40px;
}  

@media screen and (max-width: 578px) {

}

@media (min-width: 579px) and (max-width: 1366px) {
    .btn_paper {
        width: 125px;
        height: 125px;
        margin: 0px 160px 160px 0px;
    }
    .btn_scissors {
        width: 125px;
        height: 125px;
        margin: 0px 0px 160px 160px;
    }
    .btn_rock {
        width: 125px;
        height: 125px;
        margin: 0px 0px -125px 0px;
    }

    .img_paper {
        width: 60px;
        height: 60px;
    }
    
    .img_scissors {
        width: 60px;
        height: 60px;
    }
    
    .img_rock {
        width: 60px;
        height: 60px;
    }

}